spring:
  data:
    redis:
      host: localhost
      port: 6379
      rate-limit:
        user:
          get: 200
          post: 100
        admin:
          get: 500
          post: 300

  datasource:
    url: jdbc:postgresql://localhost:5432/secure_event_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver


  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
